altgraph==0.17.4
macholib==1.16.3
matplotlib==3.10.6
setuptools==72.1.0
wheel==0.45.1
Bottleneck
brotlicffi
certifi
cffi
charset-normalizer
clr_loader
contourpy
cycler
et_xmlfile
fonttools
idna
kiwisolver
numexpr
numpy
openpyxl
packaging
pandas
pillow
psutil
pycparser
PyJWT
pyparsing
PySocks
python-dateutil
pythonnet
pytz
requests
tornado
tzdata
urllib3
